<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVVM响应式原理</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script> -->
</head>
<body>
    <div id="app">
        <h2>{{person.name}}--{{person.age}}</h2>
        <h3>{{person.fav}}</h3>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
        <div>
            <p>{{msg}}</p>
        </div>
        <hr>
        <div v-text="text"></div>
        <div v-text="person.name"></div>
        <hr>
        <div v-html="htmlStr"></div>
        <div v-html="person.age"></div>
        <input type="text" v-model="msg">
        <input type="text" v-model="person.fav">
        <button v-on:click="handleClick">点击</button>
        <button @click="handleClick2">点击2</button>
    </div>
    <script src="Observer.js"></script>
    <script src="Tvue.js"></script>
    <script>
        const vm = new Tvue({
            el:'#app',
            data:{
                text:'hello MVVM123',
                htmlStr:'hello MVVM123',
                msg:'这是MVVM数据',
                person:{
                    name:'xxx',
                    age:18,
                    fav:'梅子'
                }
            },
            methods: {
                handleClick() {
                    console.log('123');
                    // console.log(this);
                },
                handleClick2(){
                    console.log('123456');
                    this.$data.person.age=22;
                }
            },
        })
    </script>
</body>
</html>
